.main-container {
    display: grid;
    grid-template-columns: 25% auto 25%;
    grid-template-rows: 50%;
    grid-template-areas: 
        "character char-item-container item"
        "list-char options list-item";
    border-style: inset;
    border-color: black;
    border-width: 3px;
    height: 700px;
}

#character-container {
    grid-area: character;
    display: grid;
    justify-content: center;
    align-items:center;
    border-style: solid;
    border-color: burlywood;
    border-width: 1px;
    height: auto;
    width: auto;
}

#item-container {
    grid-area:  item;
    display: grid;
    justify-content: center;
    align-items:center;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    height: auto;
    width: auto;
}

#options-container {
    grid-area:  options;
    display: block;
    border-style: solid;
    border-color: orchid;
    border-width: 1px;
    height: auto;
    width: auto;
}

#char-item-container {
    grid-area:  list-item;
    display: grid;
    border-style: solid;
    border-color: orange;
    border-width: 1px;
    height: auto;
    width: auto;
}

#list-char {
    grid-area:  list-char;
    display: grid;
    justify-content: center;
    align-items: stretch;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    height: auto;
    width: auto;
}

#list-item {
    grid-area:  list-item;
    display: grid;
    justify-content: center;
    align-items: stretch;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    height: auto;
    width: auto;
}

.char-div {
    text-align: center;
    border-radius: 8px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    height: auto;
    width: 150px;
}

.all-inputs {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    grid-template-areas: 
        "inputs inputs inputs";
    border-style: dotted;
    border-color: black;
    border-width: 1px;
    height: auto;
}

#inputs {
    border-style: dotted;
    border-color: black;
    border-width: 1px;
    height: auto;
}